@using Web_Assignment1.ViewModels
@model LanguageViewModel
@{
    ViewData["Title"] = "PeopleView";
}

<h1>PeopleView</h1>
<div class="accordion-button">
    <a asp-action="CreatePerson">Create New Person</a>
    <a asp-action="Edit">EditPerson</a>
    <a asp-action="Detail">PersonDetail</a>
    <a asp-controller="City" asp-action="City">City</a>
    <a asp-controller="Country" asp-action="Country">Country</a>
    <a asp-controller="Language" asp-action="Language">Language</a>
</div>
<br />


<div class="accordion-item">
    <table border="1" class="table">
        <thead>
            <tr>


                <th>LanguageId</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var language in Model.Languages)
            {
                <tr>

                    <td>@language.Id</td>
                    <td>@language.Name</td>






                </tr>
            }
        </tbody>
    </table>
</div>
<br />

<div class="accordion-item">
    <table border="1" class="table">
        <thead>
            <tr>


                <th>PersonId</th>
                <th>LanguageId</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var personlanguage in Model.PersonLanguages)
            {
                <tr>

                    <td>@personlanguage.PersonId</td>
                    <td>@personlanguage.LanguageId</td>
                </tr>
            }
        </tbody>
    </table>
</div>
<br />
<div class="accordion-button" ><a asp-action="AddLanguage">AddLanguage for Person</a></div>




            @*<div class="accordion-item">
                    <table border="1" class="table">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Phone</th>
                                <th>City</th>
                               <th>Delete</th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var people in Model)
                            {
                                <tr>
                                    <td>@people.PersonId</td>
                                    <td>@people.Name</td>
                                    <td>@people.Phone</td>
                                    <td>@people.CityId</td>
                                    <td><input type="button" value="Delete" onclick="location.href = '@Url.Action("Delete","People",new { id = people.PersonId })'"/></td>




                                </tr>
                            }
                        </tbody>

                    </table>
                </div>*@

            <div class="accordion-button"><a asp-action="PeopleIndex">Back</a></div>
            <br />
