@using Web_Assignment1.ViewModels;
@model PeopleViewModel

@{
    ViewData["Title"] = "PeopleIndex";
} 


<h1>PeopleIndex</h1>
<div class="container">
    <div>
        <form asp-controller="People" asp-action="PeopleSearch" method="post">

            <div>
                <label asp-for="Namestring">Enter Name:</label>
                <input asp-for="Namestring" required /><br /><br />
                @*Input City to get data with match City
                        <label asp-for="Citystring">Enter City:</label>
                    <input asp-for="Citystring" required /><br /><br />*@
            </div>
            <div>
                <input type="submit" value="Search Person" />
            </div>
        </form>

    </div><br />
    <div>
        <form name="create-person" asp-controller="People" asp-action="PeopleCreation" method="post">
            <div>
                <label asp-for="Name">Enter Name:</label>
                <input asp-for="Name" />
                <span style="color:red" asp-validation-for="Name"></span> <br /><br />
                <label asp-for="Phone">Enter Phone:</label>
                <input asp-for="Phone" />
                <span style="color:red" asp-validation-for="Phone"></span><br /><br />
                <label asp-for="City">Enter City:</label>
                <input asp-for="City" />
                <span style="color:red" asp-validation-for="City"></span><br /><br />
            </div>
            <div>
                <input type="submit" value="Create Person" />
            </div>
            @if (ViewBag.Message != null)
            {
                <p>@ViewBag.Message</p>
            }

        </form>
    </div>
    <br />
    @*<table border="1">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Phone</th>
                    <th>City</th>
                    <th>Click To Remove</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var people in Model.PeopleList)
                {
                <tr>
                    <td>@people.Name</td>
                    <td>@people.Phone</td>
                    <td>@people.City</td>

                  <td>@Html.ActionLink("Delete","DeletePerson", new { p = people.Name })</td>
                    <td><input type="button" value="Delete" onclick="location.href = '@Url.Action("DeletePerson","People",new { p = people.Name })'" /></td>
                </tr>
                }
            </tbody>

        </table>*@

    @*<div class="container">
            <partial name="_PeoplePartialView" model=Model.PeopleList />
        </div>*@

    <div class="row">
        <div class="col-md-3"> Name</div>
        <div class="col-md-3">Phone</div>
        <div class="col-md-3">City</div>
        <div class="col-md-3"> Click To Remove</div>

    </div>
    @foreach (var item in Model.PeopleList)
    {
        <div class="container">

            <partial name="_PersonPartialView" model="item" />
        </div>
    }

   
</div>
