@model CountryViewModel
@{
    ViewData["Title"] = "Country";
}

<h1>Country</h1>
<div class="accordion-item">
    <table border="1" class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>CountryId</th>
                

            </tr>
        </thead>
        <tbody>
            @foreach (var city in Model.Cities)
            {
                <tr>
                    <td>@city.Id</td>
                    <td>@city.Name</td>
                    <td>@city.CountryId</td>
                    




                </tr>
            }
        </tbody>
    </table>
</div>
<div class="accordion-item">
    <table border="1" class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
               


            </tr>
        </thead>
        <tbody>
            @foreach (var country in Model.CountryList)
            {
                <tr>
                    <td>@country.Id</td>
                    <td>@country.Name</td>

                </tr>
            }
        </tbody>
    </table>
</div>

<div class="accordion-item"><a asp-controller="People" asp-action="PeopleView">Back</a></div>
