@model CountryViewModel
@{
    ViewData["Title"] = "Country";
}

<h1>Country</h1>
<div class="accordion-button">
    <a asp-action="Edit">EditCountry</a>
</div>
<div class="accordion-item">
    <form class="align-content-center" asp-action="CreateCountry" method="post">
        <div>
            <label asp-for="Name">Enter Name:</label>
            <input asp-for="Name" />
            <span style="color:red" asp-validation-for="Name"></span> <br /><br />
        </div>
        <div>
            <input class="btn-close-white" type="submit" value="Add Country" />
        </div>


    </form>
</div>
<br />
<div class="accordion-item">
    <table border="1" class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>CountryId</th>



            </tr>
        </thead>
        <tbody>
            @foreach (var city in Model.Cities)
            {
                <tr>
                    <td>@city.Id</td>
                    <td>@city.Name</td>
                    <td>@city.CountryId</td>





                </tr>
            }
        </tbody>
    </table>
</div>
<div class="accordion-item">
    <table border="1" class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Delete</th>


            </tr>
        </thead>
        <tbody>
            @foreach (var country in Model.CountryList)
            {
            <tr>
                <td>@country.Id</td>
                <td>@country.Name</td>
                <td><input type="button" value="Delete" onclick="location.href = '@Url.Action("Delete","Country",new { id = country.Id })'" /></td>
            </tr>
            }
        </tbody>
    </table>
</div>

<div class="accordion-item"><a asp-controller="People" asp-action="PeopleView">Back</a></div>
